body{
    font-family:"Arial", Serif;
    background-color:#f4f4f4;
    margin: 0 0 0 0;
}

article{
    display:flex;
    flex-direction: column;
}

.navbar-nav{
    overflow:hidden;
    justify-content: center;
    flex-direction: row;
    display:flex;
    padding-top: 5vh;
}

header h1{
    font-family: 'Cormorant Garamond', serif;
    font-weight: lighter;
    color: #fff;
    font-size: 8vw;
    margin-left: 100px;
    margin-top: 180px;
    line-height: 110px;
}

header{
    height: 100vh;
    background-image:url(header1.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -o-background-size: cover;
}

#header-link{
    margin-left: 110px;
}

.link{
    padding: 20px 40px 20px 40px;
    color: #fff;
    border: rgba(196, 162, 52, 0.747) 1px solid;
    text-decoration: none;
}

.link:hover{
    background-color: #000;
    border: #000 1px solid;
    color: rgb(225, 168, 122);
    transition: 0.5s;
}

.navbar-nav a{
    color:#f2f2f2;
    text-align:center;
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    font-weight: 500;
    margin: 25px;
}

.navbar ul{
    margin:0 0 0 0;
    list-style:none;
}

.navbar a:hover{
    color:#000;
    transition: 0.5s;
}

#main{
    transition:margin-left .5s;
    padding:20px;
    overflow:hidden;
    width:100%;
}
main h3{
    font-family: 'Lora', serif;
}

main p{
    font-family: 'Montserrat', sans-serif;
}

/* ------------------ article ---------------------*/

.text{
    line-height: 2.5em;
    padding: 5em;
    margin: 5em;
}
.text h3{
    font-weight: lighter;
    font-size: 50px;
}

.text p{
    font-weight: 400;
}

.facts-section{
    padding-top: 100px;
    padding-bottom: 50px;   
    background-color: rgb(230, 230, 230);
}
.facts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.facts img{
    padding-left: 80px;
    padding-right: 50px;
}

/* second section */

.skill-section{
    padding-top: 2em;
    padding-bottom:2em;
    padding-left: 15em;
    padding-right: 15em;
}

.skills{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
}

.skills p{
    width: 50vm;
    font-weight: 100;
    line-height: 2em;
}

.skills h3{
    font-weight: 500;
    font-size: 60px;
}

.skills a{
    color: #000;
    margin-top:3em;
    margin-bottom:3em;
    font-weight: 100;
}
.skill-container{

}