html {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  flex-direction: row;
  margin: 0;
}

body p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

body h3 {
  font-family: "Rubik", sans-serif;
  font-weight: lighter;
}

ul {
  list-style-type: none;
}
.link ul {
  padding: 0 2px;
}
.link li {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link a {
  padding: 0 10px;
}

.link a :hover {
  color: rgba(255, 212, 119, 0.849);
  transition: 0.5s;
}

.greetings {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.25em;
  font-weight: 100;
  padding-left: 30px;
  padding-top: 0;
  line-height: 30px;
}
.go-to {
  right: 10px;
  width: 150px;
  padding-right: 10px;
}
.go-to ul {
  text-align: right;
  padding-left: 0;
  margin-right: 0;
}

.go-to ul li a {
  text-decoration: none;
  color: white;
  padding-bottom: 0;
  padding-right: 10px;
  border-right: 1px solid white;
}

.go-to ul li a:hover {
  color: rgba(255, 212, 119, 0.849);
  border-right: 3px solid rgba(255, 212, 119, 0.849);
  transition: 0.5s;
}

.go-to ul li {
  padding-left: 0;
  margin-left: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 40vw;
  background-color: black;
  font-family: "Cormorant Garamond", serif;
  font-weight: lighter;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 39vw;
}

section {
  padding: 10px 0;
  height: 100vh;
  min-height: fit-content;
  width: auto;
  margin: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-link-container {
  display: flex;
  flex-direction: row;
}

.project-link {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 10px;
}

.project-link:hover {
  color: rgba(255, 212, 119, 0.849);
  background-color: black;
  transition: 0.5s;
}

.flex-card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 30px auto;
}

.job-info {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 0;
  font-family: "Abel", sans-serif;
  font-size: 15px;
  color: grey;
}

.job-duration {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid black;
  color: black;
}
.title {
  line-height: 25px;
}

.title h3 {
  margin-bottom: 0;
}

.card {
  padding: 10px 0;
}

@media screen and (max-width: 479px) {
  body {
    display: flex;
    flex-direction: column;
  }

  header h1,
  h4 {
    font-size: 1em;
    margin: 0;
  }

  header {
    position: relative;
    font-size: 18px;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    line-height: 1px;
    text-align: center;
  }

  .greetings {
    padding: 30px 10px 0px;
  }

  .go-to {
    width: auto;
    padding-right: 0;
  }
  .go-to ul {
    display: flex;
    text-align: center;
  }

  .go-to ul li {
    padding: 10px;
  }
  .go-to ul li a {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
  }

  .go-to ul li a:hover {
    color: rgba(255, 212, 119, 0.849);
    border: 1px solid rgba(255, 212, 119, 0.849);
    transition: 0.5s;
  }

  main {
    margin-left: auto;
    align-items: flex-start;
    justify-content: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 819px) {
  header {
    background-color: black;
    flex-direction: column;
    text-align: center;
  }
  .greetings {
    width: 150px;
    line-height: 35px;
    padding: 0 40px;
  }

  .go-to {
    padding-right: 0;
  }
  .go-to ul {
    text-align: center;
  }

  .go-to li {
    padding: 10px 0;
  }

  .go-to ul li a {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
  }

  .go-to ul li a:hover {
    color: rgba(255, 212, 119, 0.849);
    border: 1px solid rgba(255, 212, 119, 0.849);
    transition: 0.5s;
  }
}

@media screen and (min-width: 820px) and (max-width: 1212px) {
  header {
    background-color: black;
    flex-direction: column;
  }
  .greetings {
    padding-left: 0;
    text-align: center;
    line-height: 40px;
    font-size: 1.25em;
  }
  .go-to {
    right: 0;
    padding-right: 0;
  }
  .go-to ul {
    text-align: center;
  }

  .go-to li {
    padding: 10px;
  }

  .go-to ul li a {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
  }

  .go-to ul li a:hover {
    color: rgba(255, 212, 119, 0.849);
    border: 1px solid rgba(255, 212, 119, 0.849);
    transition: 0.5s;
  }
}
