@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Poppins:wght@300&display=swap");
* {
	scroll-behavior: smooth;
}
html {
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
}
body {
	margin: 0;
}
ul {
	padding: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}
li {
	list-style-type: none;
}

p {
	line-height: 1.5em;
	font-family: "Poppins", serif;
}

h2 {
	font-family: "Cardo", serif;
	font-size: 2em;
}

h3 {
	font-family: "Cardo", serif;
	margin-bottom: 0;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 5em 0;
}

.directory li {
	padding: 0 0.5em;
}

.socials {
	padding: 0.4em 0 0 10px;
}
#logo {
	font-size: 40px;
	cursor: default;
}
.strike {
	color: #000000;
	display: inline-block;
	position: relative;
	padding: 0 10px;
}

.strike::after {
	content: "";
	display: block;
	right: 0;
	width: 0;
	height: 3px;
	background: #ffd06b;
	position: absolute;
	top: 60%;
	z-index: 1;

	transform: translate(0, -90%);
	-webkit-transition: width 0.5s;
	-moz-transition: width 0.5s;
	-o-transition: width 0.5s;
	transition: width 0.5s;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@-moz-keyframes strike {
	0% {
		width: 0%;
	}
	50% {
		width: 50%;
	}
	100% {
		width: 100%;
	}
}

@keyframes strike {
	0% {
		width: 0%;
	}
	50% {
		width: 50%;
	}
	100% {
		width: 100%;
	}
}

.strike:hover {
	transform: (0%, 0%);
}

.strike:hover::after {
	left: 0;
	width: 100%;
}

.strike-bottom {
	color: #000000;
	display: inline-block;
	position: relative;
	padding: 0 10px;
}

.strike-bottom::after {
	content: "";
	display: block;
	right: 0;
	width: 0;
	height: 3px;
	background: #ffd06b;
	position: absolute;
	bottom: 0%;
	z-index: -1;

	transform: translate(0, -90%);
	-webkit-transition: width 0.5s;
	-moz-transition: width 0.5s;
	-o-transition: width 0.5s;
	transition: width 0.5s;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@-moz-keyframes strike-bottom {
	0% {
		width: 0%;
	}
	50% {
		width: 50%;
	}
	100% {
		width: 100%;
	}
}

@keyframes strike-bottom {
	0% {
		width: 0%;
	}
	50% {
		width: 50%;
	}
	100% {
		width: 100%;
	}
}

.strike-bottom:hover {
	transform: (0%, 0%);
}

.strike-bottom:hover::after {
	left: 0;
	width: 100%;
}

.navigation {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.nav-list li a {
	width: fit-content;
	color: black;
	margin: 0 10px;
	font-family: "Cardo", serif;
	padding: 0 5px;
}

.nav-list li {
	max-width: 140px;
	text-align: center;
}

.nav-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0 auto;
}

section {
	padding: 10px 0;
	min-height: fit-content;
	margin: 100px 25vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.project-link {
	font-family: "Poppins", serif;
}

.card {
	margin-top: 30px;
}

.job-info,
.card p {
	margin: 10px 0;
}

#project {
	padding-bottom: 50px !important;
	margin-bottom: 0 !important;
}
